<mat-nav-list>
  <a mat-list-item routerLink="/" style="height: 0;"></a>
  <a
    mat-list-item
    (click)="onCloseSideNav()"
    routerLinkActive="list-item-active"
    [routerLink]="['']"
    [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon matListIcon>home</mat-icon>
      <span class="nav-caption">Home</span>
  </a>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    [routerLink]="['/quizzen']"
    (click)="onChangeTab()">
      <mat-icon matListIcon>view_list</mat-icon>
      <span class="nav-caption">Quizoverzicht</span>
  </a>

  <a
    mat-list-item
    (click)="onCloseSideNav()"
    routerLinkActive="list-item-active"
    [routerLink]="['/login']"
    *ngIf="!isAuth && !isLoading">
    <mat-icon matListIcon>fingerprint</mat-icon>
    <span class="nav-caption">Inloggen</span>
  </a>

  <a
    mat-list-item
    (click)="onLogout()"
    *ngIf="isAuth && !isLoading">
      <mat-icon matListIcon>exit_to_app</mat-icon>
      <span class="nav-caption">Uitloggen</span>
  </a>
</mat-nav-list>


