<section class="main">
  <div class="spinnerDiv" fxLayout fxLayoutAlign="center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mainDiv" fxLayout fxLayoutAlign="center" *ngIf="!isLoading">
    <mat-card>
      <mat-card-header fxLayout fxLayoutAlign="center">
        <mat-card-title>Statistieken</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item >
            <div fxLayout>
              <div fxFlex="180px" fxFlexAlign="center"># gespeelde quizzen:</div>
              <div>
                <mat-chip-list>
                  <mat-chip>
                    {{aantalQuizzen}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout>
              <div fxFlex="180px" fxFlexAlign="center"># Arno:</div>
              <div>
                <mat-chip-list>
                  <mat-chip>
                    {{aantalArno}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout>
              <div fxFlex="180px" fxFlexAlign="center"># Bart:</div>
              <div>
                <mat-chip-list>
                  <mat-chip>
                    {{aantalBart}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout>
              <div fxFlex="180px" fxFlexAlign="center"># Tim:</div>
              <div>
                <mat-chip-list>
                  <mat-chip>
                    {{aantalTim}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout>
              <div fxFlex="180px" fxFlexAlign="center"># Ward:</div>
              <div>
                <mat-chip-list>
                  <mat-chip>
                    {{aantalWard}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout>
              <div fxFlex="180px" fxFlexAlign="center"># overwinningen:</div>
              <div>
                <mat-chip-list>
                  <mat-chip class="chip-green">
                    {{aantalOverwinningen}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout>
              <div fxFlex="180px" fxFlexAlign="center"># podiumplaatsen:</div>
              <div>
                <mat-chip-list>
                  <mat-chip class="chip-yellow">
                    {{aantalPodiumplaatsen}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div fxLayout>
              <div fxFlex="180px" fxFlexAlign="center"># rode lantaarn:</div>
              <div>
                <mat-chip-list>
                  <mat-chip class="chip-red">
                    {{aantalLaatstePlaatsen}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="chartColors">
        </canvas>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
