@import '../../variables';

section {
  padding-top: 110px;
}

mat-card {
  width: 800px;


  mat-card-title {
    color:$primary-color;
  }

}

@media only screen and (max-width: 959px){
  mat-card {
    width: 75%;
  }
}


@media only screen and (max-width: 599px) {
  section {
    padding-top: 70px;
  }

  mat-card {
    width: 80%;
  }
}

.chip-red {
  background-color: rgb(247, 86, 86)!important;
}

.chip-green {
  background-color: lightgreen!important;
}

.chip-yellow {
  background-color: #f5f55efd!important;
}



