@import '../variables';

main {
  min-height: 100%;
}


@media only screen and (max-width: 599px) {

}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  background-color: $primary-color-light;
}



mat-sidenav {
  width: 200px;
  background-color: $primary-color !important;
}

.main-footer {
  height: 30px;
  margin-top: -30px;
  border-top: 2px solid $primary-color;
  color: $primary-color;
  font-weight: bold;
  background-color: $primary-color-transparant;
  font-size: 0.8rem;
}
