<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav (sideNavClose)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sideNavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer class="main-footer" fxLayout fxLayoutAlign="end center" fxLayoutGap="15px">
      <span>
        &copy; 2019 Ruimtesonde
      </span>
      <span></span>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
