<mat-card>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis optio veniam iure culpa consequatur corporis reprehenderit adipisci. Illo est vitae consequuntur voluptatibus sapiente excepturi! Veniam qui fuga minus, quasi recusandae, repellendus assumenda distinctio neque nulla similique sapiente accusantium, ut accusamus rem fugit labore. Delectus velit fugit optio nisi voluptatum sapiente deleniti repellendus! Deleniti ipsa explicabo, odio blanditiis commodi nobis vitae. Aspernatur cum obcaecati animi consequatur amet maiores illo numquam aperiam sapiente non quod dolor cumque, repellat pariatur ipsa illum inventore alias ea provident sed nulla veniam adipisci at accusamus. Deleniti at reiciendis dignissimos, voluptates id quia numquam fugiat! Optio!
    Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Totam earum aspernatur odit facilis soluta impedit, assumenda molestiae possimus minima aliquid dolorum itaque quod, perspiciatis eaque minus reiciendis rerum, sed ipsa.
  </mat-card-content>
</mat-card>
