<section>
  <div class="filterDiv" fxLayout fxLayoutAlign="center">
    <mat-card >
      <mat-card-content fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayoutAlign.xs="center center">
        <mat-form-field>
          <mat-label>Seizoen</mat-label>
          <mat-select name="seizoen"ngModel>
            <mat-option  [value]="1">
              2019-2020
            </mat-option>
            <mat-option [value]="2">
              2018-2019
            </mat-option>
            <mat-option [value]="2">
              2017-2018
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Filter">
          <mat-icon matSuffix color="primary">search</mat-icon>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>


  <table>

  </table>
</section>
