@import '../../../variables';

section {
  padding-top: 110px;
}

.checkboxes {
  width: 80%;
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 5px;
}

mat-card {
  width: 700px;
  text-align: center;
}

mat-form-field, .horizontalDiv {
  width: 80%;
  font-size: 1rem!important;
}

button {
  width: 110px;
}

mat-card-title {
  color: $primary-color;
}

@media only screen and (max-width: 799px) {
  mat-card {
    width: 460px;
  }

  mat-form-field, .horizontalDiv {
    width: 100%;
  }

  .checkboxes {
    width: 100%;
  }
}


@media only screen and (max-width: 599px) {
  section {
    padding-top: 70px;
  }

  mat-card {
    width: 300px;
  }

  mat-form-field {
    width: 100%;
  }

  .checkboxes {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  mat-card {
    width: 280px;
  }
}


@media only screen and (max-width: 820px) and (orientation: landscape) {
  section {
    padding-top:70px;
  }
}

.spinnerDiv{
  margin-top:50px;
  height:140px;
}
