<mat-vertical-stepper [linear]="false">
    <mat-step *ngFor="let speler of [].constructor(passedData.aantalSpelers), let i = index">
        <ng-template matStepLabel>Speler {{i+1}}</ng-template>

        <mat-slider
        color="primary"
          class="example-margin"
          max="10"
          min="0"
          step="1"
          thumbLabel>
        </mat-slider>
        <!-- <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]" [value]="number">
                {{number}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        <div>
          <button mat-raised-button color="primary" matStepperNext>Volgende Speler</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Score</ng-template>
      Gemiddelde score:
      <div>
          <button mat-raised-button>ANNULEER</button>&nbsp;
          <button mat-raised-button color="primary">OPSLAAN</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
