@import '~@angular/material/theming';
@import './my-theme.scss';

$primary-color-lightest: #f7faf7;
$primary-color-light: mat-color($app-primary, 300);
$primary-color: mat-color($app-primary);
$primary-color-transparant: rgba(230, 234, 234,0.9);
$primary-color-50: mat-color($app-primary, 50);

$accent-color: mat-color($app-accent);

