@import '~@angular/material/theming';
@include mat-core();

$md-mypalette: (
    50 : #e6eaea,
    100 : #c1cbca,
    200 : #97a9a7,
    300 : #6d8683,
    400 : #4e6c69,
    500 : #2f524e,
    600 : #2a4b47,
    700 : #23413d,
    800 : #1d3835,
    900 : #122825,
    A100 : #69ffe6,
    A200 : #36ffde,
    A400 : #03ffd5,
    A700 : #00e9c2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$app-primary: mat-palette($md-mypalette);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
