<section class="main">
  <div class="titleDiv" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../assets/images/logo_600w.png">
    <p class="title">
      <span class="titleOne">Space</span><span class="titleTwo">muffins</span>
    </p>
  </div>
  <div class="buttonsDiv" fxLayout fxLayoutAlign="center" fxLayoutGap="15px">
    <a mat-raised-button color="primary" [routerLink]="['/quizzen']">Quizoverzicht</a>
    <a mat-raised-button color="primary" href="http://www.bqb.be/ploeg?Pl_ID=11973" target="_blank">VQR</a>
  </div>
</section>
