@import '../../variables';

section {
  padding-top: 4vh;

  .titleDiv {
    img {
      opacity: 0.3;
    }


    color:$primary-color-dark;

    .title {
      margin-top:-370px;
      font-size: 80px;
      z-index: 999;
    }

    .titleOne {
      display: inline-block;
      font-weight: 300;
      animation: leftTitle 1.5s 0.5s ease-out forwards;
      opacity: 0;
    }

    .titleTwo{
      display: inline-block;
      font-weight: 900;
      animation: rightTitle 1.5s 0.5s ease-out forwards;
      opacity: 0;
    }
  }

  .buttonsDiv {
    margin-top: 100px;
    margin-bottom:25px;
    a {
      width: 180px;
      padding: 30px;
      font-size: 18px;
      animation: buttons 1s 0.5s ease-out forwards;
      opacity: 0;
    }
  }
}

div > mat-card{
  color: $primary-color;
  position: relative;
  padding:8px;
  animation: buttons 1s 0.5s ease-out forwards;
  opacity: 0;

  mat-icon.info{
    font-size: 2rem;
    position:absolute;
    top:5px;
    left:5px;
  }

  .card-title{
    display:block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-item{
    display:block;
    margin-bottom: 6px;
    text-align: center;
  }


}


@media only screen and (max-width: 599px) {
  section {

    padding-top: 6vh;

    .titleDiv {

      img {
        max-width: 300px;
      }

      .title {
        font-size: 40px;
        margin-top: -185px;
      }
    }

    .buttonsDiv {
      margin-top: 50px;

      a {
        width: 135px;
        padding: 10px;
        font-size: 14px;
      }
    }

  }
}

@media only screen and (max-width: 820px) and (orientation: landscape) {
  section {

    padding-top: 6vh;

    .titleDiv {

      img {
        max-width: 300px;
      }

      .title {
        font-size: 40px;
        margin-top: -185px;
      }
    }

    .buttonsDiv {
      margin-top: 90px;

      a {
        width: 135px;
        padding: 10px;
        font-size: 14px;
      }
    }

  }
}



@keyframes leftTitle {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightTitle {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes buttons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


